body {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d29ybGR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-size: 4em;
  color: whitesmoke;
  /* -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: black; */
}

h2 {
  color: whitesmoke;
  /* -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black; */
}

h3 {
  color: whitesmoke;
  /* -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black; */
}

h4 {
  color: whitesmoke;
  /* -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black; */
}

img {
  border: solid 15px rgb(74, 135, 100);
}